@font-face {
    font-family: 'IM FELL English';
    src: url('/fonts/IMFELLEnglish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
